body {
  background-color: #fbf0f0;
}

/* * {
  border: 1px solid black;
} */

.line {
  border-top: .5px solid gray;
}

#editor {
  height: 375px;
}

#edit-editor {
  height: 375px;
}

.red {
  color: red;
}